[submodule "transformer-soilmask"]
	path = transformer-soilmask
	url = https://github.com/julianpistorius/transformer-soilmask.git
	branch = scif
[submodule "transformer-opendronemap"]
	path = transformer-opendronemap
	url = https://github.com/julianpistorius/transformer-opendronemap.git
	branch = scif
